.header__lang-link {
  text-decoration: none;
  padding-right: 18px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.header__lang-link:last-of-type {
  padding-right: 0;
}
@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
