.cover__link {
  display: block;
  text-decoration: none;
  padding: 245px 312px;
  background: rgba(42,44,47,0.3);
}
.cover__link:hover {
  background: rgba(42,44,47,0.8);
  padding: 245px 312px;
}
@media (max-width: 1279px) {
  .cover__link {
    padding: 195px 232px;
  }
  .cover__link:hover {
    padding: 195px 232px;
  }
}
@media (max-width: 1023px) {
  .cover__link {
    padding: 115px 104px;
  }
  .cover__link:hover {
    padding: 115px 104px;
  }
}
@media (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
  .cover__link:hover {
    padding: 33px 16px;
  }
}
