.cover__subtitle{
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 32px 100px 0;
  font-family: 'Inter';
  font-style: normal;
}
@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0 0;
  }
}
